# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Download MacKernelSDK
      run: git clone --depth 1 https://github.com/acidanthera/MacKernelSDK.git
    - name: Download macOS 10.12 SDK (script from VoodooI2C)
      run: curl -L https://github.com/alexey-lysiuk/macos-sdk/releases/download/10.12/MacOSX10.12.tar.bz2 -o /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.12.tar.bz2 && tar -xjf /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.12.tar.bz2 -C /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/
    - name: Download Lilu / VirtualSMC SDK (script from hieplpvip/AsusSMC (Acidanthera/Lilu))
      run: src=$(/usr/bin/curl -Lfs https://raw.githubusercontent.com/hieplpvip/AsusSMC/master/Scripts/bootstrap.sh) && eval "$src" || exit 1
    - name: Xcodebuild Debug
      uses: sersoft-gmbh/xcodebuild-action@v1.1
      with:
        project: YogaSMC.xcodeproj
        # The scheme to build. Required when using a workspace.
        #scheme: # optional
        # The destination specifier to build.
        # destination: # optional
        configuration: Debug
        # sdk: macosx10.12
        # Arbitrary, space separated build settings (e.g. PLATFORM_NAME=iphonesimulator).
        build-settings: -target BuildAll
        # The action to perform (e.g. build, test, ...).
        action: build # default is test
    - name: Xcodebuild Release
      uses: sersoft-gmbh/xcodebuild-action@v1.1
      with:
        project: YogaSMC.xcodeproj
        # The destination specifier to build.
        # destination: # optional
        # The configuration to build.
        configuration: Release
        # sdk: macosx10.12
        # Arbitrary, space separated build settings (e.g. PLATFORM_NAME=iphonesimulator).
        build-settings: -target BuildAll
        # The action to perform (e.g. build, test, ...).
        action: build # default is test
    - uses: actions/upload-artifact@v2
      with:
        name: YogaSMC-Debug
        path: |
          build/Debug/
          !build/Debug/*.swiftmodule
    - uses: actions/upload-artifact@v2
      with:
        name: YogaSMC-Release
        path: |
          build/Release/
          !build/Release/*.dSYM
          !build/Release/*.swiftmodule
    - uses: actions/upload-artifact@v2
      with:
        name: YogaSMC-Release-with-dSYM
        path: |
          build/Release/
          !build/Release/*.swiftmodule
